{# templates/main/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hello MainController index!</title>
</head>
<body>
    <h1>Hello MainController index!</h1>
</body>
</html>
